

th {
text-align: left;
}

.left {
        position:absolute;
        left:0px; top:125px; bottom: 0;
        width: 190px;
		padding-top: 70px;
    }
    
.main {
        position: absolute;
        left:190px; top:125px; right:0; bottom:0;
		padding-top: 70px;
    }

        .top {
        position:absolute;
        left:0; right:0;
        height: 125px;
		padding-top: 70px;
    }

.footer {

    position:relative;
    bottom:0;
	margin-top:0;

}

h1{
text-align: center;
font-family:Verdana;
color:  #3A3961;
}

p{
     font-family:Verdana;
     color:  black;
	margin-top: 9.5cm;
}

td, th, h2 {
font-family:Verdana;
color:  #3e779d;
}

.hoverClass:hover{
background: rgba(255, 255, 255, 0.42);
}

.whiteLetters{
color:white;
font-family:Verdana;

}

.error {
   color: #FF0000;
}

.backgroundBox {
background: rgba(255, 255, 255, 0.42);
}

span.highlight{
background: rgba(255, 255, 255, 0.42);
}

.block{
display:block;
}

.banner {
  position: absolute;
  top: 36px;
  height: 9cm;
 
background-repeat: no-repeat;
background-size:cover;
  left: 15%;
  right: 15%;
  z-index:-1;
  
  opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;    
    transition: opacity 1s ease-in-out;
  
}

body,nav{
margin-left:15%;
margin-right:15%;

}

body {
padding-top: 70px;
}



